<div class="page-content make-it-green col-7">
  <h1>Overall Idea</h1>
  <p class="explanation-text">
    There are two teams, one attacking (red) and one defending (grey).
    The goal for the attacking team is to remove the king (the center piece with the gold ring) from the game.
    The goal for the defending team is to get the king to one of the corner tiles so he can escape.
  </p>
  <%= image_tag 'gameboard.png', class: 'picture img-fluid' %>
  <br/><br/>
  <h1>Piece Movement</h1>
  <p class="explanation-text">
    When thinking of moving pieces, think of rooks from standard chess. Pieces can only move horizontally or vertically,
    however the distance is unrestricted.
  </p>
  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</div>
 