<h2 class="page-content make-it-green">
  Lobby
  <br/>

  <% if @vacant_games.count.zero? %>
    <h3 class="page-content make-it-green">Nobody is hosting any open games at this time</h3>
  <% end %>

  <% @vacant_games.each do |game| %>
    <br/>
    <%= link_to "Hosted by #{game.user.username}", game_path(game), class: "make-it-green" %>
    <br/>
  <% end %>
</h2>
