@import "bootstrap";

.navbar {
  background-color: rgba(24, 21, 22, 0.9);
}

.make-it-green {
  color: #00C122;
}

.flash-notice {
  margin-left: 20px;
}

body {
  background-color: rgba(85, 82, 83, 0.9);
}

.container{
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
}

.box {
  padding: 10px;
  border: 2px solid;
  border-color: #00C122;
  border-radius: 10px;
}

.box-color {
  background-color: rgba(24, 21, 22, 0.9);
}

.page-content {
  margin-left: 20px;
}

.tile {
  border: 1px solid rgb(0, 0, 0);
  float: left;
  height: 70px;
  width: 70px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.light {
  background-color: rgb(50, 102, 81);
}

.dark {
  background-color: rgb(59, 59, 59);
}

.red {
  background-color: rgb(119, 44, 44);
}

.piece {
  border: 2px solid rgb(0, 0, 0);
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin-top: 15px;
  margin-left: 15px;
}

.defender {
  background-color: rgb(104, 107, 101);
}

.king {
  background-color: rgb(71, 98, 175);
}

.selected {
  background-color: rgb(37, 52, 100);
}

.good {
  border: 4px solid rgb(154, 189, 0);
}

.poor {
  border: 4px solid rgb(0, 2, 119);
}
